.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	max-width: 800px;
}

img {
    width: 200px;
    height: auto;
    margin: 20px;
  }
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 1em;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
  }
  
  nav a:hover {
    color: #f60;
  }
.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	min-width: 250px;
	margin-bottom: 40px;
	padding: 20px;
	border: 2px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	text-align: center;
}

.box h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.box h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

.box li {
	margin-bottom: 10px;
}

footer {
    position: bottom;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }